@charset "utf-8";

@font-face {
  font-family: "BlackBoard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./BlackBoard.woff2") format("woff2");
}
@font-face {
  font-family: "GoAround";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Goaroundthebooks2022.woff2") format("woff2");
}
@font-face {
  font-family: "BoredSB";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./BOREDSB.woff2") format("woff2");
}
@font-face {
  font-family: "Bright";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./BrightMelodyPersonalUseOnly.woff2") format("woff2");
}
@font-face {
  font-family: "Fuego";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./FuegoFatuo.woff2") format("woff2");
}
@font-face {
  font-family: "Johnny";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./johnnytorch.woff2") format("woff2");
}
@font-face {
  font-family: "Kampung";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./KampungOrange.woff2") format("woff2");
}
@font-face {
  font-family: "Keepon";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./KeeponTruckin.woff2") format("woff2");
}
